<%= stylesheet_link_tag    "horses", media: "all", "data-turbolinks-track" => true %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<section id="horses">

	<header>
		<h1>Horses</h1>
	</header>
	<div class='row'>
	<section class='col-md-5 col-md-offset-2'>
		<header>
			<h2>Dresssage horses</h2>
		</header>
		<figure>
			<%= link_to image_tag("fairplay.png", class: 'horse'), horse_path('fairplay') %>
			<figcaption>Fairplay</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("niklas.jpg", class: 'horse'), horse_path('niklas') %>
			<figcaption>Niklas</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("hot_casanova2.jpg", class: 'horse'), horse_path('hot_casanova') %>
			<figcaption>Hot Casanova</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("hot_jlo4.jpg", class: 'horse'), horse_path('hot_jlo') %>
			<figcaption>Hot Jlo</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("henrik.jpg", class: 'horse'), horse_path('fyrst_henrik') %>
			<figcaption>Fyrst Henrik</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("netti_1.jpg", class: 'horse'), horse_path('dunhill') %>
			<figcaption>Dunhill</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("hofjuwel.jpg", class: 'horse'), horse_path('hofjuwel') %>
			<figcaption>Hofjuwel</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("faustino.jpg", class: 'horse'), horse_path('faustino') %>
			<figcaption>Faustino</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("konsta.png", class: 'horse'), horse_path('constantinos') %>
			<figcaption>Constantinos</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("wolle.jpg", class: 'horse'), horse_path('dressman') %>
			<figcaption>Dressman</figcaption>
		</figure>
		<figure>
		<%= link_to image_tag("fair_trade.jpg", class: 'horse'), horse_path('fair_trade') %>
			<figcaption>Fair Trade</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("kiahan.jpg", class: 'horse'), horse_path('kiahan_qantara') %>
			<figcaption>Kiahan Qantara</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("parkst.jpg", class: 'horse'), horse_path('parks_talent') %>
			<figcaption>Park's Talent</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("chevy2.jpg", class: 'horse'), horse_path('mettys') %>
			<figcaption>Metty's Chervil</figcaption>
		</figure>

		<figure>
			<%= link_to image_tag("lanttu.jpg", class: 'horse'), horse_path('landerslane') %>
			<figcaption>Landers lane</figcaption>
		</figure>
		
		<!-- <figure>
			<%= link_to image_tag("IMG_1903.png"), horse_path('roxy') %>
			<figcaption>Roxy</figcaption>
		</figure>
		
		<figure>
			<%= link_to image_tag("IMG_1903.png"), horse_path('jodie') %>
			<figcaption>Jodie</figcaption>
		</figure>	
		
		<figure>
			<%= link_to image_tag("hepo2.png"), horse_path('finesse') %>
			<figcaption>Finesse</figcaption>
		</figure>
		
		<figure>
			<%= link_to image_tag("hepo2.png"), horse_path('dams_duchess') %>
			<figcaption>Dam's Duchess</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("hepo3.png"), horse_path('divine') %>
			<figcaption>Divine</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("kiahan.jpg"), horse_path('kiahan_hotspring') %>
			<figcaption>Kiahan Hotspring</figcaption>
		</figure> -->
		
		

		<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
		</FORM>
	</section>
	
	<section class='col-md-5 col-md-offset-0'>
		<header>
			<h2>Show jumping horses</h2>
		</header>
		<figure>
			<%= link_to image_tag("conny.jpg", class: 'horse'), horse_path('contendo_da_carma') %>
			<figcaption>Contendo da Carma</figcaption>
		</figure>
		
		<figure>
			<%= link_to image_tag("kalle.jpg", class: 'horse'), horse_path('calandro') %>
			<figcaption>Calandro 2</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("cocomone.jpg", class: 'horse'), horse_path('cocomone') %>
			<figcaption>Cocomone</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("diarados2.jpg", class: 'horse'), horse_path('diarados_love') %>
			<figcaption>Diarados Love</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("coyboy.jpg", class: 'horse'), horse_path('coyboy') %>
			<figcaption>Coyboy</figcaption>
		</figure>
		
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>
