<%= stylesheet_link_tag    "horses", media: "all", "data-turbolinks-track" => true %>
<section id="horses">
	<header>
		<h1>Horses</h1>
	</header>
	<div class='row'>
	<section class='col-md-6'>
		<header>
			<h2>Dresssage Horses</h2>
		</header>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('heveonen1') %>
			<figcaption>Heveonen1</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1905.JPG"), horse_path('fairplay') %>
			<figcaption>Fairplay</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('niklas') %>
			<figcaption>Niklas</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('dunhill') %>
			<figcaption>Dunhill</figcaption>
		</figure>
	</section>
	<section class='col-md-6'>
		<header>
			<h2>Show jumpping Horses</h2>
		</header>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('horse1') %>
			<figcaption>Horse1</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('horse2') %>
			<figcaption>Horse2</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('calandro') %>
			<figcaption>Calandro</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('cocomone') %>
			<figcaption>Cocomone</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('divine_alias') %>
			<figcaption>Divine Alias</figcaption>
		</figure>
	</section>
	</div>
</section>