
    <section class="intro">
         <div class="intro-body">
            <div class="container">
            <%= image_tag('kklogo_trans.png', size: '150x150', style: "margin-bottom: 50px") %>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                     <h1 class="brand-heading">KK-Horses</h1>
                        <p class="intro-text">Breeding, training and sponsoring
                        quality Dressage and Show Jumping Horses for Professionals</p>
                        <div class="page-scroll">
                            <!-- <a href="#about" class="btn btn-circle"> -->
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About KK-Horses</h2>
                <p>KK-Horses is situated in West Sussex, South-East England, only 30 min. drive from Gatwick Airport. KK-Horses is owned by Katja Kuistila and it operates at <br><%= link_to 'The Moat House', team_present_path('moathouse') %></br>
                </p>
                <p>All our work is always done in terms of respect and well-being of a horse </p>
                
                <p>Along us works a team of professionals to make sure all the horses are looked after, trained and treated to highest standars. More details about the team and the facilities here...</p>
                <%= link_to 'Team', team_index_path, class: 'btn btn-default btn-lg' %>
            </div>
        </div>
    </section>

    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Horses</h2>
                    <p>At the moment we have 20 dressage and 8 jumping horses. These are located in UK, Germany, Danmark, Sweden and Finland. All the details about the horses here...</p>
                    <%= link_to 'Horses', horses_index_path, class: 'btn btn-default btn-lg' %>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="content-section text-center">
        <div class="contact-section">
            <div class="col-lg-8 col-lg-offset-2">
                <address>
                The Moat House<br/>
                Two Mile Ash Road<br/>
                RH13 0LA Horsham<br/>
                UK<br/>
                tel.+44 1403 - 732 675  /  +44 78377 49477 / +44 77948 54705<br/>
                email: kkhorses@btinternet.com
                </address>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="https://twitter.com/KKHorses" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li><a 
                    href="mailto:kkhorses@btinternet.com" class="btn btn-default btn-lg"><i class="email"></i> <span class="network-name">email</span></a>
                    </li>
                    <%= link_to 'News', news_index_path, class: 'btn btn-default btn-lg' %>
                    </li>
                </ul>
            </div>
        </div>
    </section>

   
    <aside>
        <div id="oneout"><span class="onetitle">
 
        News
 
        </span><div id="oneout_inner">
        <center>
        <time datetime="2014-3-13">13 March 2014</time>
        <div>munatonta touhua horshamissa</div>
        fair trade menetti kivet...<%= link_to 'here', news_path('index') %>
        </center>
        <br>
        </br>
        <center>
            weather is great
           <a href="http://uk.weather.com/weather/today/UKXX1303:1:UK">link</a> 
        </center>
        </div>

        </div>

    </aside>


   <footer>
  <head>
    <style>
      #map_canvas {
        width: 1390px;
        height: 450px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var latLong = new google.maps.LatLng(51.03408,-0.364652);
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: latLong,
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
        var marker = new google.maps.Marker({
            position: latLong,
            map: map,
            title: "KK Horses"
        });
        var contentString = '<article><header><h1>KK Horses</h1></header><p><address>The Moat House<br/>Two Mile Ash Road<br/>RH13 0LA Horsham<br/>UK<br/>tel.+44 1403 - 732 675  /  +44 78377 49477<br/>email: kkhorses@btinternet.com</address></p></article>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map_canvas"></div>
  </body>

</footer>
