
<section class='team-detail'>
	<header>
		<h1>The Moat House</h1>
	</header>
<section>
		<div class='row'>
			<figure class='col-md-9 col-md-offset-1'>
				<%= image_tag('moathouse2.jpg') %>
				<figcaption>The Moat House</figcaption>
			</figure>
		</div>
<section>
<section>
		<div class='row'>
			<figure class='col-md-9 col-md-offset-1'>
				<%= image_tag('moathouse.jpg') %>
				<figcaption>The Moat House</figcaption>
			</figure>
		</div>
<section>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('piha.jpg') %>
				<figcaption>The Moat House</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-2'>
				<p> plah, plah,llll kks...........................kksksd ..........dd ......................kskdks ojadcojapojc pjdcpjapsc pj`cia pajdvjisa ........ ......... .......... .........
				<p/>
			</aside>
		</div>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('patsas.png') %>
				<figcaption></figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-2'>
				<p> plah, plah,llll kks...........................kksksd ..........dd ......................
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('piha2.jpg') %>
				<figcaption></figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-2'>
				<p> plah, plah,llll kks...........................kksksd ..........dd ......................kskdks ojadcojapojc pjdcpjapsc pj`cia pajdvjisa ........ ......... .......... .........
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('sol.jpg') %>
				<figcaption></figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-2'>
				<p> plah, plah,llll kks...........................kksksd ..........dd ......................kskdks ojadcojapojc pjdcpjapsc pj`cia pajdvjisa ........ ......... .......... .........
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('image.png') %>
				<figcaption></figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-2'>
				<p> plah, plah,llll kks...........................kksksd ..........dd ......................kskdks ojadcojapojc pjdcpjapsc pj`cia pajdvjisa ........ ......... .......... .........
				<p/>
			</aside>
		</div>

		<div class='row'>
			<footer> plah,plah..alalal alalalal a lalaalalalalalalal al alalal aaa ila lslsl slsls lslslsl sllsl slslsls lslslslls lslslsl
			</footer>
		</div>
</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>




