<section class='team-detail'>
	<header>
		<h1>Raiders</h1>
	</header>

<section>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('sarah.jpg') %>
				<figcaption>Sarah Millis</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p> Sarah Millis, Uk
				<br>Sarah is 30 years old and despite her young age, she represents one of the most experienced international dressage riders in the UK.
				She has represented Great Britain at a record ten European Championships at under 21 level and many senior international events. She has attained 5 European Team bronze medals during this time.</br>
				<a href="http://www.millstonesuk.com/default.asp">www.millstonesuk.com</a>
				<p/>
			</aside>
		</div>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('niklas.jpg') %>
				<figcaption>Linnea Grunn</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>
				</br> Linnea Grunn (Finnish, based in UK)
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('jenny.jpg') %>
				<figcaption>Jenny Anttonen</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>
				</br> Jenny Anttonen
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('wolle.jpg') %>
				<figcaption>Wolfgang Shade</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>
				</br> Wolfgang Schade, Germany
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('fia.jpg') %>
				<figcaption>Fia</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>
				</br> Mikaela "Fia" Lindh, (Finnish, based in danmark)
				<a href="http://dressurstald.com/DK.aspx">www.dressurstald.com</a>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('sebbe.jpg') %>
				<figcaption>Sebastian Numminen</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p> Sebbe is one of Finland's most accomplished show jumper, he has won many international GP classes and had fine results with different horses, attended the World Championships in Aachen 2006 and the European Championships in Italy in 2005 and Great Britain in 2009. He has also long been a member of the Finnish Cup of Nations team and participated in several World Cup competitions.
				<a href="http://www.satusebbe.com/">www.satusebbe.com</a> 
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('janne.jpg') %>
				<figcaption>Janne Bergh</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				
				<p>
				 <br>
				</br>Janne Bergh, Finland
				<p/>
			</aside>
		</div>

		

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('keela.jpg') %>
				<figcaption>Mikaela Soratie</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>
				</br> Mikaela "Keela" Soratie, Finland
					<a href="http://akoya.fi/en/hkorut.php">www.akoya.fi</a>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<footer> plah,plah..
			</footer>
		</div>
</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>