<section class='team-detail'>
	<header>
		<h1>Riders</h1>
	</header>

<section>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('sarah.jpg') %>
				<figcaption>Sarah Millis</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p> Sarah Millis, Uk
				<br>Sarah is 30 years old and despite her young age, she represents one of the most experienced international dressage riders in the UK.
				She has represented Great Britain at a record ten European Championships at under 21 level and many senior international events. She has attained 5 European Team bronze medals during this time.</br>
				<a href="http://www.millstonesuk.com/default.asp"target="_blank">www.millstonesuk.com</a>
				<p/>
			</aside>
		</div>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('linnea.jpg') %>
				<figcaption>Linnea Grünn</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>
				</br> Linnea Grünn (27) is responsible of riding and training horses at The Moat House since 2010. Linnea started training with Sarah Millis couple of years ago and she is competing with Niklas at International Grand Prix level. Now she is trained by Kyra Kyrklund. Despite of her yong age she has moved rapidly to top level.
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('jenny.jpg') %>
				<figcaption>Jenny Anttonen</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>
				</br> Jenny Anttonen (27) is training with Sarah Millis and is responsible of breaking in young horses. She is also working as a groom in big events. 
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('wolle.jpg') %>
				<figcaption>Wolfgang Shade</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>
				</br> Wolfgang Schade worked as Head Dressage rider at Holsteiner Verband many years. He has lots of experience of training horses to grand prix level, he also has lots of results from Grand Prix level with many different horses. Now 'Wolle' works at the private stable in Hamburg.
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('fia2.jpg') %>
				<figcaption>Fia</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>
				</br> Mikaela "Fia" Lindh
				<a href="http://dressurstald.com/DK.aspx"target="_blank">www.dressurstald.com</a>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('sebbe.jpg') %>
				<figcaption>Sebastian Numminen</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p> Sebbe is one of Finland's most accomplished show jumper, he has won many international GP classes and had fine results with different horses. Sebbe has attended the World Championships in Aachen 2006 and the European Championships in Italy in 2005 and Great Britain in 2009. He has also long been a member of the Finnish Cup of Nations team and participated in several World Cup competitions.
				<a href="http://www.satusebbe.com/"target="_blank">www.satusebbe.com</a> 
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('janne.jpg') %>
				<figcaption>Janne Bergh</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				
				<p>
				 <br>
				</br>Janne Bergh, Finland
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('keela.jpg') %>
				<figcaption>Mikaela Soratie</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>
				</br> Mikaela "Keela" Soratie
				Mikaela Soratie is a finnish dressage rider. She has been part of the finnish team as a pony, junior and young rider and has several finnish championship medals from those age groups. Mikaela rides and trains horses of all ages from young horses up to Grand Prix-level.  She is part of the Top Dressage Finland which is group set up to support and develop the level of dressage in Finland. The group is trained by Janne Bergh and Emile Faurie. 
				<p/>
			</aside>
		</div>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('stuart.jpg') %>
				<figcaption>Stuart Neads</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p>
				<br>Stuart Neads
				</br>
				More about Stu from this link... 
					<a href="http://www.csnequestrian.co.uk/about_stuart.html"target="_blank">csnequestrian.co.uk</a>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<footer> 
			</footer>
		</div>
</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>