
<section id="team">
	<header>
		<h1>Team / Facilities</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("moathouse.png"), team_present_path('moathouse') %>
			<figcaption>Farm</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>The Moat House</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("claudia2.png"), team_present_path('lady_of_the_residence') %>
			<figcaption>The Lady of the residence</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Katja K</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("claudia.png"), team_present_path('raiders') %>
			<figcaption>Raiders</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Wolfgang Shade</br>
				<br>Linnea Grunn</br>
				<br>Sarah Mills</br>
				<br>Janne Berg</br>
				<br>Sebastian Numminen</br>
				<br>Mikaela Soratie</br>
				<br>Esteratsastaja</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("claudia2.png"), team_present_path('trainers') %>
			<figcaption>Trainers</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Kyra K</br>
				<br>Sarah Mills</br>
				<br>Coach Carter</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("skull.png"), team_present_path('grooms') %>
			<figcaption>Grooms</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Jenni</br>
				<br>Linnea</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("sta.png"), team_present_path('physio') %>
			<figcaption>Physio</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p>
				<br>Raine Makela</br>
				<br>Mira Marela</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("claudia2.png"), team_present_path('vet') %>
			<figcaption>Vet</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Eamon McLaughlin</br>
				<p/>
			</aside>
		</div>

		
		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("claudia2.png"), team_present_path('farrier') %>
			<figcaption>Farrier</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Dieter Krohnert</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("moathouse.png"), team_present_path('maintenance') %>
			<figcaption>Maintenance</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Paul Lewis</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("claudia2.png"), team_present_path('supporters') %>
			<figcaption>Supporters</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Bono</br>
				<br>Roxy</br>
				<br>Doris</br>
				<p/>
			</aside>
		</div>
		<FORM><button type="button" class="btn btn-default VALUE="Back" onClick="history.go(-1);return true;">Back</button>"
	</FORM>

	</section>
	</section>



