
<section id="team">
	<header>
		<h1>Team & Facilities</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("moathouse3.jpg"), team_present_path('moathouse') %>
			<figcaption>Farm</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br></br>The Moat House is situated in Horsham, West Sussex. Horsham is a historic Market Town and it contains some of South East England's most delightful countryside.
				
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("niklas.jpg"), team_present_path('riders') %>
			<figcaption>Riders</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p1> 
				<ul>Linnea Grünn</ul>
				<ul>Sarah Millis</ul>
				<ul>Wolfgang Shade</ul>
				<ul>Mikaela Lindh</ul>
				<ul>Janne Bergh</ul>
				<ul>Mikaela Soratie</ul>
				<ul>Sebastian Numminen</ul>	
				<ul>Satu Liukkonen</ul>		
				<ul>Stuart Neads</ul>
				<p1/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("katja.jpg"), team_present_path('lady_of_the_residence') %>
			<figcaption>Katja Kuistila</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Katja K</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("kyra.jpg"), team_present_path('trainers') %>
			<figcaption>Trainers</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Kyra Kyrklund</br>
				<br>Sarah Millis</br>
				<br></br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("team.jpg"), team_present_path('physio') %>
			<figcaption>Physio</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p>
				<br>Raine Makela</br>
				<br>Mira Marela</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("eamon.jpg"), team_present_path('vet') %>
			<figcaption>Vet</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Eamon McLaughlin</br>
				<p/>
			</aside>
		</div>

		
		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("dieter.jpg"), team_present_path('farrier') %>
			<figcaption>Farrier</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Dieter Krohnert</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("paul2.jpg"), team_present_path('maintenance') %>
			<figcaption>Maintenance</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Paul Lewis</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("dogs.jpg"), team_present_path('supporters') %>
			<figcaption>Supporters</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Roxy</br>
				<br>Bono</br>
				<br>Doris</br>
				<p/>
			</aside>
		</div>
		<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
		</FORM>

	</section>
	</section>



