<h1 class="brand-heading">Team and facilities</h1>

<div class="team">
<link rel="stylesheet" type="text/css" href="/assests/team.css">	
	<h1>Team</h1>


<section id="team">
	<header>
		<h1>team</h1>
	</header>
	<div class='row'>
	<section class='col-md-6'>
		<header>
			<h2>moat house</h2>
		</header>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('moathouse') %>
			<figcaption>The Moat House</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('raiders') %>
			<figcaption>Raiders</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('grooms') %>
			<figcaption>Grooms</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('trainers') %>
			<figcaption>Trainers</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('vet') %>
			<figcaption>Vet</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('farrier') %>
			<figcaption>Farrier</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('physio') %>
			<figcaption>Physio</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('maintenance') %>
			<figcaption>Maintenance</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('lady_of_the_residence') %>
			<figcaption>lady of the residence</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('other') %>
			<figcaption>general shit</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), team_present_path('supporters') %>
			<figcaption>supporters</figcaption>
		</figure>
	</section>
