<h1 class="brand-heading">Team and facilities</h1>

<div class="team">
<link rel="stylesheet" type="text/css" href="/assests/team.css">	
	<h1>Team</h1>


<section id="team">
	<header>
		<h1>team</h1>
	</header>
	<div class='row'>
	<section class='col-md-6'>
		<header>
			<h2>moat house</h2>
		</header>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('heveonen1') %>
			<figcaption>The Moat House</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('dunhill') %>
			<figcaption>Raiders</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('fairplay') %>
			<figcaption>Grooms</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('dunhill') %>
			<figcaption>Trainers</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('niklas') %>
			<figcaption>Vet</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('dunhill') %>
			<figcaption>Farrier</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('dunhill') %>
			<figcaption>Physio</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('dunhill') %>
			<figcaption>Maintenance</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('dunhill') %>
			<figcaption>lady of the residence</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('dunhill') %>
			<figcaption>general shit</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1929.JPG"), horse_path('dunhill') %>
			<figcaption>supporters</figcaption>
		</figure>
	</section>
