
<section id="team">
	<header>
		<h1>Team & Facilities</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("moathouse2.jpg"), team_present_path('moathouse') %>
			<figcaption>Farm</figcaption>
			</figure>
			<aside class='col-md-4 col-md-offset-1'>
				<p> 
				<br>The Moat House is situated in </br><br>Horsham, West Sussex. Horsham is </br><br>a historic Market Town and it </br><br>contains some of South East</br><br>England's most delightful</br><br> countryside.</br>
				
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("niklas.jpg"), team_present_path('raiders') %>
			<figcaption>Raiders</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Wolfgang Shade</br>
				<br>Linnea Grunn</br>
				<br>Jenny Anttonen</br>
				<br>Sarah Millis</br>
				<br>Janne Bergh</br>
				<br>Sebastian Numminen</br>
				<br>Mikaela Soratie</br>
				<br>Stewart Little</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("katja.jpg"), team_present_path('lady_of_the_residence') %>
			<figcaption>Katja Kuistila</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Katja K</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("kyra.jpg"), team_present_path('trainers') %>
			<figcaption>Trainers</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Kyra Kyrklund</br>
				<br>Sarah Mills</br>
				<br>Coach Carter</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("grooms.jpg"), team_present_path('grooms') %>
			<figcaption>Grooms</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Jenni Anttonen</br>
				<br>Linnea Grunn</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("team.jpg"), team_present_path('physio') %>
			<figcaption>Physio</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p>
				<br>Raine Makela</br>
				<br>Mira Marela</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag(""), team_present_path('vet') %>
			<figcaption>Vet</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Eamon McLaughlin</br>
				<p/>
			</aside>
		</div>

		
		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("dieter.jpg"), team_present_path('farrier') %>
			<figcaption>Farrier</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Dieter Krohnert</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("paul2.jpg"), team_present_path('maintenance') %>
			<figcaption>Maintenance</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Paul Lewis</br>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-5 col-md-offset-1'>
			<%= link_to image_tag("bono.jpg"), team_present_path('supporters') %>
			<figcaption>Supporters</figcaption>
			</figure>
			<aside class='col-md-3 col-md-offset-1'>
				<p> 
				<br>Bono</br>
				<br>Roxy</br>
				<br>Doris</br>
				<p/>
			</aside>
		</div>
		<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
		</FORM>

	</section>
	</section>



